*{
	
	font-family: "Roboto Condensed", sans-serif;
}
.noscroll{
	overflow: hidden;
}
 .content{
	margin-right: 0.7rem;
	margin-left: 0.7rem;
	}

.header{
	margin-top: 2rem;

}
.setlogo{
	width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border-radius: 50%;
    border-radius: 50%;
    background: #1A1B26;
}
.menu{
	margin-top: -4rem;
	margin-left: 5.7rem;
	width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: #fff;
    padding-top: 0.7rem;
    display:block;
	background-image: url(https://cdn1.iconfinder.com/data/icons/basic-ui-elements-plain/422/06_menu_stack-512.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 30px;
}
.menu:hover{
	cursor:pointer;
}
.menu i{
	margin-top: -0.7rem;
}
.menu-after{
	background-image: url(https://cdn2.iconfinder.com/data/icons/flat-ui-icons-24-px/24/cross-24-512.png)
}
#ocupation{
	margin-top: 1.8rem;
}
.job-name-after{
	color: #fff;
}
.main_background{
	margin-top: -4rem;
	height: 600px;
	background-color: #EEEEEE;
	background-image: url(../media/face4.png);
	background-repeat: no-repeat;
	background-position: bottom right;
	
}
/*Menu css*/
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index:1;
    top: 0;
    left: 0;
    background-color: #000;
    overflow-x: hidden;
    transition: 0.4s;

}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
.overlay-after{
	width: 100%;
}
/*Profile css*/

.profile-content{
	padding-top: 2rem;
	margin: auto;
	color: #565657;
}
/*Menu end css*/

.background_img{
	
}
.main_brand{
	padding-top: 20rem;
}
.main_brand h1{
	font-family: "Arial Black", Gadget, sans-serif;
}
/*Work section */
.work_section{
	background-color: #E4E4E4;
	padding-bottom: 1rem;
}
.section-title{
	padding-top: 2rem;
	padding-bottom: 2rem;
	color: #565657;
}

.ws-content{
	margin:3rem 3rem;
}
.ws-content div div div{
	height: 22rem;
}
.wk-link{
	text-decoration: none;
	color: #fff;
}
.wk-link:hover, .wk-link:visited{
	text-decoration: none;
	color: #fff;
}
.wk-content{
	margin-top: 6rem;
}
.wk-content h2 {
	font-family: "Arial Black", Gadget, sans-serif;
}
.wk-content i{
	margin-bottom: 1rem;
}
#ws1{
	background-color: #000000;
}
#ws2{
	background-color: #83D05F;
}
#ws3{
	background-color: #1190F9;
}
#ws4{
	background-color: #9775FA;
}
#ws5{
	background-color: #E85757;
}
#ws6{
	background-color: #181111;
}
@media only screen and (min-width: 968px) {
   .content{
	margin-right: 2.7rem;
	margin-left: 2.7rem;
	}
	
}